.Header {
	position: relative;
	width: 100%;
	height: 60vh;
	min-height: 400px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;

}

.Header-background {
	position: absolute;
	top: -20%;
	left: 0;
	width: 100%;
	height: 120%;
	background-image: url('/Images/header.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	will-change: transform;
}

.Header-content {
	position: relative;
	z-index: 1;
	color: white;
	text-align: center;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	font-family: 'MainFont', sans-serif;
}

.Header-content p {
	color: yellow;
	-webkit-text-stroke: 2px black;
	font-size: 5rem;
	font-weight: 600;
	font-family: 'MainFont', sans-serif;
}