@font-face {
	font-family: 'MainFont';
	src: url('/Fonts/MainFont.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
}

#root {
	height: 100%;
	width: 100%;
}

body {
	font-family: 'MainFont', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'MainFont', sans-serif;
}

code {
	font-family: 'MainFont', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}